#return_back {
    margin:40px;
}

.main {
    width: 80%;
    margin: auto;
}

.main > div {
    height: 500px;
}

.image {
    position: relative;
    justify-content: center;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.image button, .image a {
    position: absolute !important;
    margin-top: auto;
    width: 85%;
    align-self: flex-end;
    margin-bottom: 15px;
}

.info .info_el span[role="title"], .info_description span[role="title"] {
    font-weight: bold;
    font-size: 18px;
    color: #555;
}

.info .info_el span[role="name"] {
    font-weight: bold;
    font-size: 26px;
}

.info .info_el span[role="price"] {
    color: #193;
    font-weight: bold;
    font-size: 26px;
}

.info_description {
    margin-top: 10%;
}

.product_control_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #EEE;
    border-radius: 20px;
    position: absolute !important;
    margin-top: auto;
    width: 85%;
    align-self: flex-end;
    margin-bottom: 15px;
}

.plus_button {

    display:inline-block;
    width:30px;
    height:30px;
    background:
        linear-gradient(#000,#000),
        linear-gradient(#000,#000);

    background-position:center;
    background-size: 50% 3px,3px 50%; 
    background-repeat:no-repeat;

}

.minus_button {
    display: inline-block;
    background: 
        linear-gradient(#000, #000);
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: 50% 3px, 3px 50%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 991px) {
    .main > div {
        height: 300px;
    }
}