form {
    max-width: 35%;
    display: flex;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    flex-direction: column;
    margin-top: 60px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
}

form > div {
    margin-bottom: 20px;
}