:root {
    --danger-color: #712;
    --danger-background: rgba(180, 10, 20, 0.1);
}

.alert {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
    padding: 25px;
}

.alert_danger {
    background: var(--danger-background);
    border: 3px var(--danger-color)  solid;
    color: var(--danger-color);
}